<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <section class="product-detail">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
  </section>
  <section class="product-review">
    <div class="row">
      <div class="product-reviews-list col-sm-8">
        <h2>Reviews</h2>
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>
        <%= render partial: "review", collection: @product.reviews.reverse %>
      </div>
      <div class="product-reviews-form col-sm-4">
        <% if !current_user.nil? %>
          <h2>Leave a Review</h2>
          <%= form_for ([@product, @product.reviews.build]) do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="form-group">
              <%= f.label :rating %><br/>
              <%= f.select(:rating, make_rating, {class: 'form-control'}) %>
            </div>
            <div class="form-group">
              <%= f.label :content %><br>
              <%= f.text_area :content, {class: 'form-control'} %>
            </div>
            <p>
              <%= f.submit class: "btn btn-primary" %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</section>

